body {
  background-color: #F8F0E3 ;
}


h2,
h3, h4 {
  text-align: center;
  color: black;
  font-family: "Bungee Hairline", cursive;
}

h2{
  font-style: italic;
}

p,
#btn,
#link,
.steps, .navbar{
  font-family: "Bungee Hairline", cursive;
}


input {
  text-align: center;
  font-family: "Bungee Hairline", cursive;
  background-color: white;
  color: black;
  margin-right: 10%;
  border-radius: 10%;
  border: 1px solid lightblue;
  height: 80%;
}

#card{
  background-color: white;
  margin-top: 10%;
  display: none;
  width: 40%;
    text-align: center;
  margin: 0 auto;

}


.steps{
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer{
  margin-top: 26%;
}





